<div class="card">
    <div class="card-body">
      <form [formGroup]="angForm" novalidate>
        <div class="form-group">
          <label class="col-md-4">Product Name</label>
          <input type="text" class="form-control" formControlName="product_name" #product_name [(ngModel)] = "business.product_name" />
        </div>
        <div *ngIf="angForm.controls['product_name'].invalid && (angForm.controls['product_name'].dirty || angForm.controls['product_name'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['product_name'].errors.required">
            Product Name is required.
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4">Product Cat </label>
          <input type="text" class="form-control" formControlName="product_category" #product_category [(ngModel)] = "business.product_category" />
        </div>
        <div *ngIf="angForm.controls['product_category'].invalid && (angForm.controls['product_category'].dirty || angForm.controls['product_category'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['product_category'].errors.required">
            Product Cat is required.
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4">Product Price </label>
          <input type="text" class="form-control" formControlName="product_Price" #product_Price [(ngModel)] = "business.product_Price" />
        </div>
        <div *ngIf="angForm.controls['product_Price'].invalid && (angForm.controls['product_Price'].dirty || angForm.controls['product_Price'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['product_Price'].errors.required">
            Product Price is required.
          </div>
        </div>

        <div class="form-group">
            <label class="col-md-4">Product Size </label>
            <input type="text" class="form-control" formControlName="product_Size" #product_Size [(ngModel)] = "business.product_Size" />
          </div>
          <div *ngIf="angForm.controls['product_Size'].invalid && (angForm.controls['product_Size'].dirty || angForm.controls['product_Size'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['product_Size'].errors.required">
              Product Size is required.
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Product Stock </label>
            <input type="text" class="form-control" formControlName="product_stock" #product_stock [(ngModel)] = "business.product_stock" />
          </div>
          <div *ngIf="angForm.controls['product_stock'].invalid && (angForm.controls['product_stock'].dirty || angForm.controls['product_stock'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['product_stock'].errors.required">
              Product Stock is required.
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Product description</label>
            <input type="text" class="form-control" formControlName="product_description" #product_description [(ngModel)] = "business.product_description" />
          </div>
          <div *ngIf="angForm.controls['product_description'].invalid && (angForm.controls['product_description'].dirty || angForm.controls['product_description'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['product_description'].errors.required">
              Product description is required.
            </div>
          </div>

        <div class="form-group">
          <button (click)="updateBusiness(product_name.value, product_category.value, product_Price.value, product_Size.value, product_stock.value, product_description.value)"
          [disabled]="angForm.invalid" 
          class="btn btn-primary">Update Business</button>
        </div>
      </form>
    </div>
  </div>